NUXT_SESSION_PASSWORD=password-with-at-least-32-characters
DATABASE_URL=postgres://postgres:postgres@localhost/cippus
NUXT_PUBLIC_CAS_BASE_URL=https://sso.dlut.edu.cn/cas
NUXT_PUBLIC_CAS_SERVICE_URL=https%3A%2F%2Fwebvpn.dlut.edu.cn%2Fhttp-3000%2F57787a7876706e323032336b6579402474170119f00b9c5dbe%2Fapi%2Fcas
