NUXT_SESSION_PASSWORD=password-with-at-least-32-characters
DATABASE_URL=postgres://postgres:postgres@localhost/cippus
NUXT_NODEMAILER_HOST=smtp.example.com
NUXT_NODEMAILER_PORT=587
NUXT_NODEMAILER_SECURE=false
NUXT_NODEMAILER_AUTH_USER=mailer@example.com
NUXT_NODEMAILER_AUTH_PASS=your-smtp-password
NUXT_NODEMAILER_FROM="Cippus <mailer@example.com>"
NUXT_CAS_BASE_URL=https://sso.dlut.edu.cn/cas
NUXT_CAS_SERVICE_URL=https://webvpn.dlut.edu.cn/http-3000/57787a7876706e323032336b6579402474170119f00b9c5dbe/api/cas
